

$primary-color: #7633f9;
$secondary-color: #ff9800;
$success-color: #28a745;
$danger-color: #dc3545;
$blood-color:red;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$accept-color: #284ea7;

// Social media colors

$blueColor: #1877f2;
$facebook-dark-color: #3b5998;
$twitter-color: #1da1f2;
$google-color: #db4437;
$instagram-color: #e1306c;
$youtube-color: #ff0000;
$whatsapp-color: #25d366;

// spacing
$space-xxxs: .25rem;
$space-xxs: .5rem;
$space-xs: .75rem;
$space-s: 1rem;
$space-ss: 1.3rem;
$space-m: 1.5rem;
$space-l: 2rem;
$space-xl: 4rem;
$space-2xl: 6rem;
$space-pixel:7.5rem;
$space-3xl: 8rem;


// Font families

$ff-roboto: "Roboto", sans-serif;
$ff-poppins: "Poppins", sans-serif;
$ff-lato: "Lato", sans-serif;
$ff-raleway: "Raleway", sans-serif;
$ff-openSans: "Open Sans", sans-serif;

// Breakpoints

$mobile: 686;
$grid-columns: 3;
$gap: 1.25rem;
$tablet:48rem

